body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    border-bottom: 1px solid rgb(150, 150, 150);
    align-items: center;
    
}
nav ul{
        display: flex;
        list-style: none;
        
    }
ul li{
    margin-right: 12px;
    list-style: none;
    }
ul li a{
    color: rgb(64, 64, 64);
}

h1{
    font-size: 50px;
    color: rgb(117, 98, 69);
   
}
ul{
    color: rgb(20, 63, 15) 
    font font-family:  ;
}
h2{
    color: rgb(82, 82, 82);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;   
}
footer{
    padding: 20px;
    border-top: 1px solid rgb(150, 150, 150);
}